@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keep only what you need */
@layer base {
  body {
    @apply text-gray-800 bg-white;
  }
}

@layer components {
  .btn {
    @apply inline-block font-medium text-center border border-transparent transition-all duration-300 hover:-translate-y-1;
  }
}